{% extends "::base.html.twig" %}
{% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('user_interface_homepage') }}">Navigo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="signup"><a href="{{ path('signup') }}">M'inscrire <span class="sr-only">(current)</span></a></li>
                    {% if is_granted('ROLE_TRAVELER') == false %}<li id="login"><a href="{{ path('signin') }}">Me connecter</a></li>{% endif %}
                    <li id="check_card"><a href="{{ path('card_check') }}">Vérifier ma carte</a></li>
                    <li id="payment"><a href="{{ path('payment') }}">Prolonger mon abonnement</a></li>
                    <li id="bills"><a href="{{ path('bills') }}">Mes factures</a></li>
                    {% if is_granted('ROLE_TRAVELER') %}<li id="logout"><a href="{{ path('logout') }}">Me déconnecter</a></li>{% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="navdiv"></div>
{% endblock %}